
<h1>Thank you for your subscription!</h1>

<p>Edition: <%= params['F_04']%></p>
<p>First Name: <%= params['a_first_name'] %></p>
<p>Last Name: <%= params['a_last_name'] %></p>
<p>Title: <%= params['a_title'] %></p>
<p>Company: <%= params['a_company'] %></p>
<p>Address: <%= params['a_address_1'] %></p>
<p>         <%= params['a_address_2'] %></p>
<p>         <%= params['a_address_3'] %></p>
<p>City: <%= params['a_city'] %></p>
<p>State: <%= params['a_state'] %></p>
<p>Zip/Postal Code: State: <%= params['a_zip'] %></p>
<p>Country: <%= params['a_province'] %></p>
<p>Email: <%= params['a_email'] %></p>
<p>Phone: <%= params['a_phone'] %></p>
<p>Fax: <%= params['a_fax'] %></p>
<p>01. Assembly of IC Packages: <%= params['F_03'] %></p>
<p>02. Primary Industry: <%= params['F_14'] %></p>
<p>02. Primary Industry(other): <%= params['F_14_OTHER'] %></p>
<p>03. Primary Job Function: <%= params['F_15'] %></p>
<p>03. Primary Job Function(other): <%= params['F_15_OTHER'] %></p>
<p>04. What products do you buy/sell?:</p>
<p>    <%= params['F_17[]'] %></p>
<p>05. Number of Employees: <%= params['F_06'] %></p>
<p>06. Please indicate Month of Birth: <%= params['F_07'] %></p>
<p>07. May we contact you by email about your subscription?: <%= params['F_08'] %></p>

