<p><a onclick="VSCapture('SmithConnector')" href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('DECA')" href="http://www.decatechnologies.com/" target="deca"><img src="assets/images/ads/Deca-Technologies-IWLPC.GIF?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('EllS')" href="http://www.ellsworth.com/products/?utm_source=chip%20scale&utm_medium=banner&utm_term=electronics%20adhesives&utm_campaign=chipscalejuly15" target="ELLS"><img src="assets/images/ads/EllsworthAdhesives-ChipScaleOnlineAd-July2015.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SUSS')" href=" http://fbs.advantageinc.com/chipscale/may-jun_2015/#50" target="SEMI-W-2015"><img src="assets/images/ads/Suss-Banner_IWLPC_120x240_2015.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-Taiwan-2015')" href="http://www.semicontaiwan.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=07csrta240" target="SEMI-T-2015"><img src="assets/images/ads/Semicon-Taiwan-2015-240X120-Banner-r2.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('STMA')" href="http://www.smta.org/medical/" target="STMA-WEST-15"><img src="assets/images/ads/240x120-Medical-4-CSR.GIF?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-MEMS-2015')" href=" http://www.semi.org/eu/node/8871" target="SEMI-MEMS-2015"><img src="assets/images/ads/EU_MEMS_web_banner_240_120px_wR.JPG?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC-2015')" href="http://www.iwlpc.com/" target="IWLPC-2015"><img src="assets/images/ads/IWLPC2015_240x240-conference.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BiTS')" href="http://www.bitsworkshop.org"><img src="assets/images/ads/BiTS2015_Shanghai_CSR_TileAd240x120.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BiTS')" href="http://meptec.org/2015packagingsym.html"><img src="assets/images/ads/240x120-2015-Q4-4-CSR.GIF?r=<%- rdm %>" width="240"  alt="" /></a></p>



<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
