<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/BrewerBOND-material-suite" target="BREWER-SCIENCE"><img src="assets/images/ads/brewerScienceAd.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS')" href="http://www.smithsconnectors.com" target="SCONNECTORS"><img src="assets/images/ads/euclid-socket.jpeg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IRONWOOD')" href="http://www.ironwoodelectronics.com/csr_web.cfm" target="IRONWOOD"><img src="assets/images/ads/CSR_Content_Web_Ad0516.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('KNS')" href="http://www.kns.com" target="KNS"><img src="assets/images/ads/CSR_WebBanner_240x120px.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SENSOR-EXPO')" href="http://www.sensorsexpo.com/" target="SENSOR-EXPO"><img src="assets/images/ads/sensorExpo.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONWEST')" href="http://www.semiconwest.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=05csrsw240" target="ECTC"><img src="assets/images/ads/240x120-SEMICONWest.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>