
<p><a onclick="VSCapture('SMITH-CONNECTORS')" href="http://www.smithsconnectors.com" target="SCONNECTORS"><img src="assets/images/ads/euclid-socket.jpeg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('3DSUMMIT')" href="http://www.semi.org/eu/node/8566" target="3DSUMMIT"><img src="assets/images/ads/3D_Summit_web_banner_240_120.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('PANPAC2016')" href="http://www.smta.org/panpac/" target="PANPAC2016"><img src="assets/images/ads/PanPac2016_240x120.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONKOREA2016')" href="http://www.semiconkorea.org/en/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=11csrko240" target="SEMICONKOREA2016"><img src="assets/images/ads/semiconKorea2016.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BITS')" href="http://bitsworkshop.org" target="BITS"><img src="assets/images/ads/BiTS2016_CSR_TileAd_D.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>


<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>