<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2017')" href="http://www.toray.us/products/prod_003.html" target="TORAY-2017"><img src="assets/images/ads/Toray-CSR-Jan2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SiP2017')" href="http://www.imaps.org/sip" target="SiP2017"><img src="assets/images/ads/SiP_2017.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SCWEST')" href="http://www.semiconwest.org/?utm_source=chipscalereview&utm_medium=armktg&utm_term=04csrsw240" target="SCWEST"><img src="assets/images/ads/scwest17-reg_240x240.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
