<p><a onclick="VSCapture('BREWER-SCIENCE')" href=" http://www.brewerscience.com/products/debonding-technologies/" target="BREWER-SCIENCE"><img src="assets/images/ads/brewer_science.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2018')" href="http://www.toray.co.jp/english/electronic/index.html" target="TORAY-2018"><img src="assets/images/ads/Toray_CSR_2018.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IRONWOOD-2018')" href="http://www.ironwoodelectronics.com/csr_web.cfm" target="IRONWOOD-2018"><img src="assets/images/ads/Ironwood_RF_Socket_2018.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC-CFP-2018-2')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC-CFP-2018-2"><img src="assets/images/ads/IWLPC2018_CSR2.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ASMC-2018')" href="http://www.semi.org/en/asmc2018?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=04csrasmc240a" target="ASMC-2018"><img src="assets/images/ads/asmc-2018.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-SEA-2018')" href="http://www.semiconsea.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csrsea240s" target="SEMICON-SEA-2018"><img src="assets/images/ads/SEMICON-SEA-2018.PNG?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEDICAL-2018')" href="https://www.smta.org/medical/" target="MEDICAL-2018"><img src="assets/images/ads/240x240-2018-MEDICAL-4-CSR.GIF?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC-2018')" href="http://www.ectc.net" target="ECTC-2018"><img src="assets/images/ads/ECTC2018.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

