<p><a onclick="VSCapture('SMITH-CONNECTORS')" href=" http://www.smithsconnectors.com/us/products/product-catalog/array-high-speed-test-davinci-series" target="SCONNECTORS"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Oct-2016.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/products/brewerbond-materials/" target="BREWER-SCIENCE"><img src="assets/images/ads/brewerScienceAd.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('PRIVATE-TREATY')" href="http://www.go-dove.com/events?cmd=details&event=571061&utm_source=chipscalereview.com&utm_medium=banner&utm_content=240x120&utm_campaign=571061" target="PRIVATE-TREATY"><img src="assets/images/ads/Private-Treaty_10Oct-10Nov2016_REV1.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('STATSCHIP-PAC')" href="http://www.statschippac.com" target="STATSCHIP-PAC"><img src="assets/images/ads/StatsChipPAC.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-ISS-2017')" href="http://www.semi.org/en/ISS?utm_source=chipscalereview&utm_campaign=11csriss240&utm_medium=armktg" target="SEMI-ISS-2017"><img src="assets/images/ads/ISS17ad-150_240x120.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-MDEICAL')" href="http://www.meptec.org/roadmaps" target="MEPTEC-MDEICAL"><img src="assets/images/ads/Meptec_Medical_WebBanner_240x120px.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>