<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/BrewerBOND-material-suite" target="BREWER-SCIENCE"><img src="assets/images/ads/brewerScienceAd.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MARVINTEST')" href="http://www.marvintest.com/ts-900chp" target="MARVINTEST"><img src="assets/images/ads/TS-900-chipscale.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS')" href="http://www.smithsconnectors.com" target="SCONNECTORS"><img src="assets/images/ads/euclid-socket.jpeg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-SE-ASIA')" href="http://www.semiconsea.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csrsea240" target="SEMICON-SE-ASIA"><img src="assets/images/ads/SEMICONSoutheastAsia.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SENSOR-EXPO')" href="http://www.sensorsexpo.com/" target="SENSOR-EXPO"><img src="assets/images/ads/sensorExpo.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC"><img src="assets/images/ads/iwlpc-2016-call.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC')" href="http://meptec.org/meptecmems2016sy.html" target="MEPTEC"><img src="assets/images/ads/meptec.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC')" href="http://www.ectc.net/" target="ECTC"><img src="assets/images/ads/ectc.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>