<p><a onclick="VSCapture('SMITH-CONNECTORS')" href="http://www.smithsconnectors.com" target="SCONNECTORS"><img src="assets/images/ads/euclid-socket.jpeg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MARVINTEST')" href="http://www.marvintest.com/ts-900chp" target="MARVINTEST"><img src="assets/images/ads/TS-900-chipscale.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

 <p><a onclick="VSCapture('IRONWOOD')" href="http://www.ironwoodelectronics.com/csr_web.cfm" target="IRONWOOD"><img src="assets/images/ads/Ironwood.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BITS')" href="http://bitsworkshop.org" target="BITS"><img src="assets/images/ads/BiTS2016_CSR_TileAd_D.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IMAPS')" href="http://www.imaps.org/devicepackaging/" target="IMAPS"><img src="assets/images/ads/imaps-2016.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONCHINA')" href="http://www.semiconchina.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=01csrch240" target="IMAPS"><img src="assets/images/ads/SemiconChina-2016.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC"><img src="assets/images/ads/iwlpc-2016-call.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>


<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>