<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/" target="BREWER-SCIENCE"><img src="assets/images/ads/BrewerScience_Banner_Feb%202019.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('HHA-ELECTRONICS-2017')" href="https://hhtas.net/2S8VUGz" target="HHA-ELECTRONICS-2017"><img src="assets/images/ads/HHA-Electronics-Banner-Advert-2.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IRONWOOD-2020')" href="http://www.ironwoodelectronics.com/" target="IRONWOOD-2020"><img src="assets/images/ads/Ironwood_202002.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TESTCON-X-2020')" href="http://www.testconx.org" target="TESTCON-X-2020"><img src="assets/images/ads/TestConX-2020.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC-2020')" href="http://www.ectc.net/" target="ECTC-2020"><img src="assets/images/ads/ECTC_2020-Virtual.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-CN-2020')" href="http://semi.website/04csrch240a" target="SEMICON-CN-2020"><img src="assets/images/ads/SEMICON-China-2020.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-201912')" href="https://semi.website/11csrsta240a" target="SEMI-201912"><img src="assets/images/ads/semi-202005.gif?r=<%- rdm %>" width="240"  alt=""/></a></p>

<p><a onclick="VSCapture('IWLPC-2020')" href="https://www.iwlpc.com/" target="IWLPC-2020"><img src="assets/images/ads/IWLPC-2020.gif?r=<%- rdm %>" width="240"  alt=""/></a></p>
