<p><a onclick="VSCapture('SMITH-CONNECTORS')" href=" http://www.smithsconnectors.com/us/products/product-catalog/array-high-speed-test-davinci-series" target="SCONNECTORS"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Oct-2016.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/products/brewerbond-materials/" target="BREWER-SCIENCE"><img src="assets/images/ads/brewerScienceAd.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('KESTER-2017')" href="http://www.kester.com/" target="KESTER-2017"><img src="assets/images/ads/Kester_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2017')" href="http://www.toray.us/products/prod_003.html" target="TORAY-2017"><img src="assets/images/ads/Toray-CSR-Jan2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('3dSummit-')" href="http://www.semi.org/eu/european-3d-summit-2017?=2017CSR" target="3DInCities"><img src="assets/images/ads/creating_high_density_systems.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BiTS2017')" href="https://bitsworkshop.org/?utm_source=csr" target="BiTS2017"><img src="assets/images/ads/BiTS2017_CSR_TileAd_2_FIN.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>


<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
