<p><a onclick="VSCapture('SmithConnector')" href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('Veeco')" href="http://www.veeco.com/products/lapping-dicing-systems.aspx" target="Veeco"><img src="assets/images/ads/Veeco-ADS-800.gif?r=<%- rdm %>" width="240"  alt="Veeco" /></a></p>

<p><a onclick="VSCapture('Ellsworth')" href="http://bit.ly/1Im60b8" target="Ellsworth"><img src="assets/images/ads/EllsworthAdhesives_ChipScaleOnlineAd-April2015.bmp?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MCT')" href="http://www.indium.com/flux-and-epoxy/flip-chip-flux/" target="Indium"><a href="mailto:mctsales@mct.com" class="link"><img src="assets/images/ads/MCT-Banner.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('QuartetMechanics')" href="http://quartetmechanics.com/QM2014/HTML/index.html" target="QuartetMechanics"><img src="assets/images/ads/Quartet-Mechanics-thin-wafer-pack-sorter.gif?r=<%- rdm %>" width="240"  alt="Quartet-Mechanics-thin-wafer-glass-wafer-sorter-packer-laser-marker" /></a></p>

<p><a onclick="VSCapture('IWLPC2015MAY')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC2015MAY"><img src="assets/images/ads/IWLPC2015_240x120-cfpMay15.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-ASMC')" href="http://www.semi.org/asmc2015?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrasmc240" target="SEMI-ASMC"><img src="assets/images/ads/240x120-ASMC_Reg_tile-R8.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-2015')" href="http://meptec.org/meptec2015memste.html" target="MEPTEC-2015"><img src="assets/images/ads/240x120-2015-MEMS-4-CSR.GIF?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC-2015')" href="http://ectc.net/" target="ECTC-2015"><img src="assets/images/ads/ECTC-2015.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-Porto-2015')" href="http://www.semi.org/eu/node/8971" target="SEMI-Port-2015"><img src="assets/images/ads/Porto_Web_Banner_240_120px.bmp?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-WEST-15')" href="http://www.semiconwest.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=04csrsw240" target="SEMICON-WEST-15"><img src="assets/images/ads/scw15.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
