<p><a onclick="VSCapture('BREWER-SCIENCE')" href=" http://www.brewerscience.com/products/debonding-technologies/" target="BREWER-SCIENCE"><img src="assets/images/ads/brewer_science.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IMAT-201708')" href="http://www.imatinc.com/" target="IMAT-201708"><img src="assets/images/ads/IMAT_201708.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('INVENSAS-XPERI')" href="https://www.invensas.com/" target="INVENSAS-XPERI"><img src="assets/images/ads/INVENSAS_XPERI.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('NANOTRONICS')" href="https://nanotronics.co/" target="NANOTRONICS"><img src="assets/images/ads/nanotronics-2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SUSS-MICROTEC')" href="http://www.suss.com" target="SUSS-MICROTEC"><img src="assets/images/ads/SUSS_MicroTec_Banner_IWLPC_120x240_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2017')" href="http://www.toray.us/products/prod_003.html" target="TORAY-2017"><img src="assets/images/ads/Toray-CSR-Jan2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONTAIWAN')" href="http://www.semicontaiwan.org/en/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=07csrtw240" target="SCWEST"><img src="assets/images/ads/5_Online-Banners_240x240_eng_5.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC')" href="http://www.iwlpc.com/register_now.cfm" target="IWLPC"><img src="assets/images/ads/IWLPC2017_240x240.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMTA')" href="https://smta.org/smtai/" target="SCWEST"><img src="assets/images/ads/SMTAI2017_ad_240x120.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-IMAGING')" href="http://www.semi.org/eu/imaging-and-sensors-summit-home" target="SEMI-IMAGING"><img src="assets/images/ads/SEMI-IMAGING.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMTA-MEMS')" href="http://www.semi.org/eu/mems-and-sensors-2017-home-page" target="SCWEST"><img src="assets/images/ads/SEMI-MEMS.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
