<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IRONWOODELECTRONICS-2017')" href="http://www.ironwoodelectronics.com/csr_web.cfm" target="Ironwood2017"><img src="assets/images/ads/Ironwood_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('KESTER-2017')" href="http://www.kester.com/" target="KESTER-2017"><img src="assets/images/ads/Kester_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2017')" href="http://www.toray.us/products/prod_003.html" target="TORAY-2017"><img src="assets/images/ads/Toray-CSR-Jan2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC-2017')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC-2017"><img src="assets/images/ads/IWLPC2017_240x240-cfp2.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICOM-SEA-2017')" href="http://www.semiconsea.org/?utm_source=chipscalereview&utm_campaign=03csrsea240&utm_medium=armktg" target="SEMICOM-SEA-2017"><img src="assets/images/ads/SEMICON_SEA_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC2017')" href="http://www.ectc.net/" target="ECTC2017"><img src="assets/images/ads/ECTC_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('2017MEMS')" href="http://www.meptec.org/2017MEMS" target="2017MEMS"><img src="assets/images/ads/240x120-2017-MEMS-BNR-4-CSR.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ESiPAT2017')" href="http://www.semi.org/en/semi-integrated-packaging-assembly-and-testing-sipat-special-interest-group" target="ECTC2017"><img src="assets/images/ads/ESiPAT_2017_1.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
