<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2017')" href="http://www.toray.us/products/prod_003.html" target="TORAY-2017"><img src="assets/images/ads/Toray-CSR-Jan2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ASMC')" href="http://www.semi.org/en/asmc2017?utm_source=chipscalereview&utm_medium=armktg&utm_term=04csrasmc240" target="ASMC"><img src="assets/images/ads/240x240-ASMC-WebTiles.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC2017')" href="http://www.ectc.net/" target="ECTC2017"><img src="assets/images/ads/ECTC_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('2017MEMS')" href="http://www.meptec.org/2017MEMS" target="2017MEMS"><img src="assets/images/ads/240x120-2017-MEMS-BNR-4-CSR.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SCWEST')" href="http://www.semiconwest.org/?utm_source=chipscalereview&utm_medium=armktg&utm_term=04csrsw240" target="SCWEST"><img src="assets/images/ads/scwest17-reg_240x240.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
