<p><a onclick="VSCapture('BREWER-SCIENCE')" href=" http://www.brewerscience.com/products/debonding-technologies/" target="BREWER-SCIENCE"><img src="assets/images/ads/brewer_science.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('TORAY-2018')" href="http://www.toray.co.jp/english/electronic/index.html" target="TORAY-2018"><img src="assets/images/ads/Toray_CSR_2018.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-EURO-2018')" href="http://www.semiconeuropa.org/?utm_source=chipscalereview&utm_medium=08csreu240s" target="SEMICON-EURO-2018"><img src="assets/images/ads/SEMICON_EURO_2018.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IEEE-EPTC-2018')" href="http://www.semiconeuropa.org/?utm_source=chipscalereview&utm_medium=08csreu240s" target="IEEE-EPTC-2018"><img src="assets/images/ads/EPTC-2018.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-2018Q4')" href="http://www.meptec.org/2018Q4/" target="MEPTEC-2018Q4"><img src="assets/images/ads/MEPTEC-4.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

