<p><a onclick="VSCapture('SMITH-CONNECTORS-2017')" href=" http://www.smithsinterconnect.com/" target="SCONNECTORS"><img src="assets/images/ads/SMITH_INTERCONNECT_2017.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BREWER-SCIENCE')"href="http://www.brewerscience.com/" target="BREWER-SCIENCE"><img src="assets/images/ads/BrewerScience_Banner_Feb%202019.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IRONWOOD-2019')" href="http://www.ironwoodelectronics.com/csr_web.cfm" target="IRONWOOD-2019"><img src="assets/images/ads/IRONWOOD-2019-JAN.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-MEDICAL-2019')" href="https://www.smta.org/medical/" target="MEPTEC-MEDICAL-2019"><img src="assets/images/ads/2019-MEPTEC-MEDICAL.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('ECTC-2019')" href="http://www.ectc.net/" target="ECTC-2019"><img src="assets/images/ads/ECTC-2019.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC-2019')" href="http://www.iwlpc.com/call_for_papers.cfm" target="IWLPC-2019"><img src="assets/images/ads/IWLPC-2019-CFP-v1.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>
