<p><a onclick="VSCapture('SMITH-CONNECTORS')" href="http://www.smithsconnectors.com" target="SCONNECTORS"><img src="assets/images/ads/euclid-socket.jpeg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BREWER-SCIENCE')" href="http://www.brewerscience.com/BrewerBOND-material-suite" target="BREWER-SCIENCE"><img src="assets/images/ads/brewerScienceAd.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONTAIWAN')" href="http://www.semicontaiwan.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=07csrtw240" target="SEMICONTAIWAN"><img src="assets/images/ads/SEMICONTAIWAN_WebBanner_240x120px.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICONDUCTOR-PACKAGING')" href="http://www.smta.org/medical" target="SEMICONDUCTOR-PACKAGING"><img src="assets/images/ads/Semiconductor_Packaging_240x120px.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMI')" href="http://www.semi.org/eu/node/60542/" target="SEMI"><img src="assets/images/ads/MEMS_Web-Banner_240x120_160331.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-EUROPA')" href="http://www.meptec.org/roadmaps" target="SEMICON-EUROPA"><img src="assets/images/ads/SCEU16_Banner_240x120px_160714_3.jpg?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-MDEICAL')" href="http://www.meptec.org/roadmaps" target="MEPTEC-MDEICAL"><img src="assets/images/ads/Meptec_Medical_WebBanner_240x120px.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p style="border:1px solid black;"><a onclick="VSCapture('3DInCities')" href="http://www.3DinCites.com" target="3DInCities"><img src="assets/images/ads/3dincities.png?r=<%- rdm %>" width="240"  alt="" /></a></p>